In [4]:
# import pandas module
# import os module
import pandas as pd
import os

In [5]:
# Define a file path (using os module) pointing to the pickled file from Exercise 1
# Create a Pandas DataFrame from the pickled file. Use the file path as an argument.
directory = 'location_data'
filename = 'locations_data_frame.pickle'
filepath=os.path.join(directory, filename)

df=pd.read_pickle(filepath)

In [6]:
# Display the DataFrame
df

,mindate,maxdate,name,datacoverage,id,source_file
0,1948-05-01,2025-08-06,"Highgate Center, VT 05459",1.00,ZIP:05459,locations_10.json
1,1995-05-08,2025-08-06,"Hinesburg, VT 05461",1.00,ZIP:05461,locations_10.json
2,1955-11-01,2025-08-06,"Huntington, VT 05462",1.00,ZIP:05462,locations_10.json
3,1997-03-06,2025-08-06,"Isle la Motte, VT 05463",0.95,ZIP:05463,locations_10.json
4,1995-05-08,2025-08-06,"Jeffersonville, VT 05464",1.00,ZIP:05464,locations_10.json
...,...,...,...,...,...,...
38857,1994-06-15,2025-08-06,"Mont Clare, PA 19453",0.95,ZIP:19453,locations_13.json
38858,1972-01-01,2025-08-06,"North Wales, PA 19454",1.00,ZIP:19454,locations_13.json
38859,1894-01-01,2025-08-06,"Phoenixville, PA 19460",1.00,ZIP:19460,locations_13.json
38860,1994-06-15,2025-08-06,"Plymouth Meeting, PA 19462",0.95,ZIP:19462,locations_13.json
38861,1894-01-01,2025-08-06,"Pottstown, PA 19464",1.00,ZIP:19464,locations_13.json